<launch>

  <!-- Pygame Simulator node -->
  <node name="simulator"  pkg="xycar_sim_driving" type="main" output="screen">
    <param name="map_name" value="square"/>
    <param name="range_sensor" value="ultrasonic"/> <!-- ultrasonic, lidar -->
    <param name="drive_mode" value="ros"/> <!-- ros, keyboard -->
  </node>

  <!-- My Driver node -->
  <node name="rule_driver" pkg="app_rule_drive_sim" type="app_rule_drive_sim" output="screen">
    <param name="speed" value="10" />
  </node>
  
</launch>
